/*
 * Estilos reutilizables
 */
 *{
   box-sizing: border-box;
   padding: 0;
   margin: 0px;
 }

 .container{

   width:100%;
   padding: 0;

   margin: 0px auto;
 }

 .row:before, .row:after{
   content: " ";
   display: table;
 }
 .row:after{
   clear: both;
 }

 [class*="col-"]{
   min-height: 7px;
   padding: 12px;
   float: left;
 }

 .col-1 {
   width: 8.333%;
 }

 .col-2{
   width: 16.666%;
 }

 .col-3{
   width: 25%;
 }
 .col-4{
   width: 33.333%;
 }
 .col-5{
   width: 41.666%;
 }
 .col-6{
   width: 50%;
 }

 .col-7{
   width: 58.333%;
 }
 .col-8{
   width: 66.666%;
 }
 .col-9{
   width: 75%;
 }
 .col-10{
   width:  83.333%;
 }
 .col-11{
   width: 91.666%;
 }
 .col-12{
   width: 100%;
 }

 .alignCenter{
   text-align: center;
 }

 .text-uppercase {
   text-transform: uppercase;
 }

 .star{
   display: inline-block;
   vertical-align: middle;
   height: 5px;
   width: 100px;
   margin-bottom: 4%;
 }

/*Estilos del Nav*/
 nav{
   background-color: #31455a;
   height: 100px;
   font-family: Montserrat;
   color: white;
 }

 nav > div:first-child > div:nth-child(2) {
   font-size: 28px;
   color:white;
   text-decoration:none;
   font-weight: bold;
 }

 nav > div:first-child > div {
   color:white;
   font-size: 14px;
   font-weight: bold;
   margin-top: 2%;
 }

 /*estilos del header*/
 header{
   background-color: #18BC9C;
   color: white;
   font-family: Montserrat;
}

header >div >div> img{
  margin: 8%;
  margin-bottom: 0%;

}

header > div:nth-child(2){
  font-size: 66px;
  font-weight: bolder;
}

header > div:nth-child(3) > div:nth-child(2) >div{
  background-color: white;
  }

header > div:nth-child(4) {
  font-size: 20px;
  font-weight: normal;
  height: 10%;
}

/*estilos portafolio*/

#portafolio{
  font-family: Montserrat;
  color: #333333;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4%;
}

#portafolio > div:first-child{
  font-size: 38px;
  font-weight: bold;
  margin-top: 2%;
}

#portafolio > div:nth-child(2) > div:nth-child(2) >div{
  background-color: #333333;
}

#imagenesPortafolio{
  margin-bottom: 5%;
}
#imagenesPortafolio img{
    width: 30%;
    margin: 1%;
    cursor: pointer;
}
#imagenesPortafolio img:hover{
    background-color: #18BC9C;
}


/*seccion about*/

#about{
  background-color: #18BC9C;
  color: white;
  font-family: Montserrat;
  margin-bottom: 5%;
}

#about > div:first-child > div{
  margin-top: 5%;
  font-size: 38px;
  font-weight: bold;
}

#about > div:nth-child(2) > div:nth-child(2) >div{
  background-color: white;
}

#about > div:nth-child(3) >div:nth-child(2) >p {
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-left: 8%;
  font-size: 20px;
}

#about > div:nth-child(4) > div > a{
  border: 1px solid white;
  border-radius: 2px;
  padding: 8px;

}

/*estilos contac me*/

#contacMe{
  font-family: Montserrat;
  color: #333333;
}

#contacMe > div:first-child{
  font-size: 38px;
  font-weight: bolder;
}

#contacMe > div:nth-child(2) > div:nth-child(2) >div{
  background-color: #333;

}

#contacMe > div:nth-child(3) > div:nth-child(2) > form >label {
  font-size: 10px;
  margin: 2%;
}

#contacMe > div:nth-child(3) > div:nth-child(2) > form > input {
  width: 100%;
  margin: 2%;
  border: none;
  font-size: 20px;
}
#contacMe > div:nth-child(3) > div:nth-child(2) > form > div {
  width: 100%;
  height: 1px;
  background-color: #EEE;
}
#contacMe > div:nth-child(3) > div:nth-child(2) > form > textarea {
  width: 80%;
  height: 200px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: Montserrat;
}
#contacMe > div:nth-child(3) > div:nth-child(2) > form > textarea:hover {
  outline: none;
}

#contacMe > div:nth-child(3) > div:nth-child(2) > form > input:focus {
  outline: none;
}
#contacMe > div:nth-child(3) > div:nth-child(2) > form > input:last-child {
  background-color: #128f76;
  width: 10%;
  padding: 1%;
  border-radius: 2px;
  color: white;

}

/*estilos footer*/
footer{
  font-family: Montserrat;
  color: white;
  margin-bottom: 10%;
}

footer > div{
  background-color: #2c3e50;

}

footer > div:last-child{
  background-color: #233140;
  font-size: 12px;
  padding:  2%;
}
footer > div:nth-child(2) > div:last-child > span{
  color: #128f76;
  cursor: pointer;
}
footer > div:nth-child(2) > div:last-child > span:hover{
  color: #128f76;
  text-decoration: underline;
  text-decoration-color: #128f76;
}
